/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html,
a {
  color: inherit;
  text-decoration: none;
}

span,
p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "KH Teka", sans-serif;
}

* {
  box-sizing: border-box;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
:root {
  --onboard-modal-z-index: 50;
}

@layer base {
  @font-face {
    font-family: "KH Teka";
    font-weight: 400;
    src: local("KH Teka"), url(/public/fonts/KH_Teka/KHTeka-Regular.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 200;
    src: local("KH Teka"), url(/public/fonts/KH_Teka/KHTeka-Light.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 500;
    src: local("KH Teka"), url(/public/fonts/KH_Teka/KHTeka-Medium.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 700;
    src: local("KH Teka"), url(/public/fonts/KH_Teka/KHTeka-Bold.woff) format("woff");
  }

  @font-face {
    font-family: "KH Teka";
    font-weight: 900;
    src: local("KH Teka"), url(/public/fonts/KH_Teka/KHTeka-Black.woff) format("woff");
  }

  @font-face {
    font-family: "Technos";
    font-weight: 400;
    src: local("Technos"), url(/public/fonts/Technos/Technos-PKDZP.woff) format("woff");
  }
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    outline: none;
    outline-offset: 0px;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: transparent;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: transparent;
  }
}

@layer components {
  .button {
    @apply flex-shrink-0 block px-3 py-1 font-medium rounded-full border border-transparent text-base align-middle text-center leading-button shadow-sm;
  }

  .button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .button:disabled:hover {
    @apply opacity-50 cursor-not-allowed;
  }

  .button-primary {
    @apply bg-blue-600 text-white;
  }

  .button-seconday {
    @apply bg-blue-200 text-blue-700  transition duration-150 ease-in-out;
  }

  .button-primary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-blue-500;
  }

  .button-primary:hover {
    @apply bg-blue-700;
  }

  .button-secondary {
    @apply bg-blue-200 text-blue-700  transition duration-150 ease-in-out;
  }

  .button-secondary:focus {
    @apply outline-none ring-2 ring-offset-2 ring-blue-500;
  }

  .button-secondary:hover {
    @apply bg-blue-300 font-bold shadow-md transform scale-101;
  }

  .page-title {
    @apply text-3xl md:text-4xl font-semibold;
  }

  .secondary-title {
    @apply text-2xl md:text-3xl font-medium;
  }

  .subtitle {
    @apply text-lg text-gray-500;
  }

  .card {
    @apply bg-white rounded-3xl border border-gray-200 shadow-custom cursor-pointer transform transition duration-150 ease-in-out hover:scale-101;
  }
}

@layer utilities {
  .word-spacing-full {
    word-spacing: 100vw;
  }
  .word-spacing-normal {
    word-spacing: normal;
  }
}

/* slick slider customization */

.slick-slider {
  position: relative;
}

.slick-dots {
  display: flex !important;
  position: static;
  justify-content: center;
  bottom: -3.75rem;
  padding-top: 1.5rem;
  gap: 1.5rem;
  list-style-type: none;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
  background-color: white;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #DFFF1C;
}
